﻿@model BaseVM
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destiny Compare-O-Matic | @this.Model.PageTitle</title>
    @Styles.Render("~/css/base")
</head>
<body>
    @RenderBody()
</body>
</html>